.main{
    
    &__language{
        width: 50%;
        margin-top: -4.5rem;
        border-right: 1px solid lightgray;
        padding-right: 10rem;
    }
    &__title{
        font-size: 1.5rem;
        text-align: center;
    }
    &__result{
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        color: black;
        padding: 0.5rem 0;
        text-decoration: underline;
    }

    &__num {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__num-tests-per-page{ 
        padding: 2rem;
        font-size: 1.5rem;
        text-decoration: underline;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 50%;
    }

        &__num-tests-per-page > input {
            display: flex;
            justify-content: center;
            margin: 0.5rem;
            padding: 0.7rem;
            width: 30%;
        }
}

.test{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}


.select.is-rounded{
    margin-left: 18rem;
    margin-top: 1rem;
}

    .search-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        border-bottom: 1px solid lightgray;

        &__title {
            font-size: 1.5rem;
            padding: 0.5rem;
            text-decoration: underline;
        }

        &__research{
            display: flex;
            flex-direction: row;
            gap: 4rem;

            &__color input,
            &__title input,
            &__subTitle input {
                font-size: 1.3rem;
                padding: 0.5rem;
                margin-top: 1rem;
                margin-bottom: 2rem;
                border-radius: 1rem;
                border: 1px solid gray;
            }

            &__color input::placeholder,
            &__title input::placeholder,
            &__subTitle input::placeholder{
                font-size: 1rem;
                padding: 0.2rem;
                color: lightgray;
                text-align: center;
             }
        }
    }


.card{
    display: flex;
    flex-direction: column;
    width: 26%;
    margin: 1.2rem;
}

.pagination{
    margin-top: 2rem ;
    border-top: 1px solid lightgray;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;

    &__number{
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
    }
}