.createTest{
    width: 30%;
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    margin-left: 60rem;



    &__button{
        padding: 0.7rem;
        font-size: 1.5rem;
        border: 1px solid grey;
        border-radius: 1rem;
        transition: 0.2 ease-in-out;
    }

    &__button:hover{
        padding: 0.7rem;
        font-size: 1.5rem;
        border: 1px solid grey;
        border-radius: 1rem;
        background-color: grey;
        color: white;
    }

}


.modal is-active{
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        color: white;
        text-transform: uppercase;
        font-size: 2.5rem;
        text-align: center;
        padding: 2rem;
    }
}

.input{
    width: 70%;
    padding: 1.2rem;
    margin-bottom: 1rem;
}